<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Mark's Blog</title>

    <link rel="stylesheet" href={{ get_url(path="normalize.css") }}>
    <link rel="stylesheet" href={{ get_url(path="typebase.css") }}>
    <link rel="stylesheet" href={{ get_url(path="style.css") }}>
</head>
<main>
    <body>
        <section class="section">
            <div class="container">
                {% block content %} {% endblock %}
            </div>
        </section>

        {% block footer %}
        <footer role="contentinfo">
            <hr />
            {% if config.extra.footer_links %}
            <nav style="margin-bottom:1rem;" role="navigation">
                {% for item in config.extra.footer_links %}
                <a href="{{ item.url | replace(from=" $BASE_URL", to=config.base_url) | safe }}">{{ item.name }}</a>
                {% if loop.last %}{% else %}
                <span>&middot;</span>
                {% endif %}
                {% endfor %}
            </nav>
            {% endif %}
            {% block taglines %}
            <small>
                Mark Asp <br/>
                All opinions are my own and do not represent anyone else
            </small>
            {% endblock taglines %}
        </footer>
        {% endblock footer %}
    </body>
</main>

</html>